@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(0, 0, 0);
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  scroll-padding: 76px;
}